
    <!-- sidebar -->
    <div class="bg-dark p-3 border-right" id="sidebar">

        <h3 class="sidebar-heading text-light">App gifs </h3>

        <hr class="text-light">

        <div class="list-group list-reset">
            @for (gif of historialGifs; track $index) {
                <a href="#" class="list-group-item list-group-item-action bg-light"
                    (click)="buscarPorSidebard(gif)"> 
                    {{gif | titlecase}}
                </a>
            }
        </div>

    </div>
    <!-- fin sidebar -->